/* hide hero */
.hero {
    display: none;
}
/* product */
.product-section {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.product-center {
    margin: 0 auto;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
}

.product-title {
    font-size: 1.4rem;
    color: var(--primaryColor);
    text-transform: uppercase;
    border-bottom: 3px solid var(--primaryColor);
    max-width: 80vw;
    margin: 1rem auto;
    letter-spacing: 2px;
    padding-left: 0.7rem;
    text-align: center;
}

.product-img-container {
    width: 250px;
    justify-self: center;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.product-img {
    width: 100%;
}

.product-information {
    margin: 0 auto;
}

.product-info {
    text-align: center;
    margin-left: 2rem;
}

.product-info-header,
.product-info-subheader,
.product-info-underheader {
    font-size: 1.2rem;
    color: var(--primaryColor);
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

#product-model,
#product-brand,
#product-categ {
    color: var(--mainBlack);
    font-size: 1rem;
    text-transform: capitalize;
}

.product-detail {
    max-width: 400px;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    text-align: left;
}

.prodcut-description::first-letter {
    color: var(--primaryColor);
    padding-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.product-extra {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    padding-right: 1rem;
}

.product-form-container {
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 1rem;
}

.product-form {
    border: 5px dashed var(--darkGrey);
    padding: 1rem;
    display: grid;
    min-width: 70vw;
}

.product-form-label {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.product-form-inputs {
    width: 100px;
    display: block;
    height: 1.5rem;
    background: var(--mainWhite);
    border: none;
    outline: none;
    border-bottom: 3px dotted var(--primaryColor);
    border-right: 3px dotted var(--primaryColor);
    border-bottom-right-radius: 0.7rem;
    font-size: 1.2rem;
    text-align-last: center;
    margin: 0 auto;
}

.product-form-cart {
    margin: 2rem auto;
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    background: transparent;
    display: flex;
    transition: var(--mainTransition);
    cursor: pointer;
    align-items: center;

}

.product-form-cart:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
}

.addToCartIcon {
    margin-right: 1rem;
}

#product-total {
    margin-left: 0;
    padding: 0;
}
.feedback{
    border: 0.2rem solid red;
    margin: 1rem auto;
    text-align: center;
    padding: 0.7rem;
    background: rgba(255, 0, 0, 0.5);
    font-size: 1.2rem;
    max-width: 600px;
    display: none;
}
.showItem {
    display: block;
}
@media screen and (min-width: 992px) {
    .product-section {
        margin-bottom: 6rem;
    }

    .product-container {
        grid-template-columns: 2fr 3fr;
        justify-content: space-between;
        max-width: 95vw;
        margin: 0 auto;
        align-items: center;
    }

    .product-title {
        font-size: 1.8rem;
        max-width: 40vw;
        margin: 2rem;
        padding-left: 1rem;
        text-align: left;
        grid-row: 1;
    }

    .product-img-container {
        width: 450px;
        border-radius: 0rem;
        grid-row: 2;
    }

    .product-information {
        grid-row: 2;
    }

    .product-info {
        margin: 0;
    }

    .product-info-header,
    .product-info-subheader,
    .product-info-underheader {
        font-size: 1.4rem;
        margin-left: 0;
    }

    #product-model,
    #product-brand,
    #product-categ {
        font-size: 1.2rem;
    }

    .product-detail {
        max-width: 45vw;
        margin: 0;
        padding: 0;
    }

    .prodcut-description::first-letter {
        padding-left: 1.5rem;
        font-size: 1.7rem;
    }

    .product-extra {
        margin: 1rem 0;
    }

    .product-form-container {
        grid-row: 3;
        grid-column: 1;
    }
    
    .product-form {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 70vw;
    }

    .product-form-label {
        margin: 2rem 0;
        padding: 0rem;
        font-size: 1.4rem;
    }

    .product-form-inputs {
        font-size: 1.2rem;
        margin: 2rem;
        margin-left: 1rem;
    }

    .product-form-cart {
        margin: 0 2rem;
        font-size: 1.5rem;
    }
    .addToCartIcon {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1020px) {
    .product-form-inputs {
        margin: 2rem 5rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1210px) {
    .product-form-inputs {
        margin: 2rem;
        margin-left: 1rem;
    }

    .product-form-cart {
        margin: 0 auto;
    }
}

/* end of product */
/* add comment section, Boostrap */
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    max-width: 70vw;
}
.well-title{
    color: var(--primaryColor);
}

.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
/* media from boostrap + update to my version */
.media {
    padding: 1rem;
    max-width: 95vw;
}

.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}

.media-body {
    padding-left: 1rem;
    text-transform: capitalize;
    font-family: "Lora",serif!important;
}
.media-body small{
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.media-object {
    display: inline;
    background: rgb(202, 202, 202);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    float: left;
}


.media-body {
    display: table-cell;
    vertical-align: top;
    font-size: .7rem;

}

.media-heading {
    color: var(--primaryColor);
    margin-top: 0;
    margin-bottom: 5px;
}
@media screen and (min-width: 712px) {
.media-object {
    font-size: 3rem;
    padding: 1rem;
}
.media {
    max-width: 80vw;
}
.media-body {
    font-size: 1rem;
}
}

.pointer{
    cursor: pointer;
    font-size: 2rem;
}