/* vendors  */
/* show search filter buttons */
.search-extra {
    display: block;
}

.items {
    background: var(--mainWhite);
}

.item:hover {
    background: var(--lightGrey);
}


.selector-filter {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.selector-filter-btn {
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    background: var(--mainWhite);
    outline: none;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: var(--mainTransition);
}

.selector-filter-btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
    cursor: pointer;

}

/* end of vendors  */
/* filter hide items */
.hideItem {
    display: none;
}

.no-item-search {
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 1rem;
    text-transform: capitalize;
}